.jelly
  animation-duration 4s
  animation-timing-function ease-in
  animation-iteration-count infinite
  transform-origin bottom center
  animation-name jelly

@keyframes jelly
  0%
    transform scale(1, 1)
  8%
    transform scale(1, 1)
  10%
    transform scale(1.1, 0.9)
  13%
    transform scale(0.9, 1.1)
  17.5%
    transform scale(1, 1)
  19%
    transform scale(1, 1)
  58%
    transform scale(1, 1)
  60%
    transform scale(1.1, 0.9)
  63%
    transform scale(0.9, 1.1)
  67.5%
    transform scale(1, 1)
  69%
    transform scale(1, 1)
  100%
    transform scale(1, 1)
